{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.products.enable }}
<section class="gallery" id="products-list">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>{{ $data.homepage.products.title | markdownify }}</h2>
        </div>

        <div class="product-slider">
          {{ range (where .Site.RegularPages "Section" "products") }}
          <div class="block">
            <div class="gallery-overlay">
              <a href="{{ .Permalink }}" class="gallery-popup">
                <i class="tf-ion-plus-round"></i>
              </a>
            </div>
            {{ $image_url := "" }}
            {{ with .Params.images }}
              {{ with index . 0 }}
                {{ $image_url = . | absURL }}
              {{ end }}
            {{ end }}
            <img class="img-fluid" src="{{ $image_url }}" alt="{{ .Title }}">
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}