{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mb-4 mb-md-0">
        <!-- product image slider -->
        <div class="product-image-slider">
          {{ range .Params.images }}
          <div data-image="{{ . | absURL }}">
            {{ partial "image.html" (dict "Src" . "Alt" "product-image" "Class" "img-fluid w-100" ) }}
          </div>
          {{ end }}
        </div>
      </div>
      <div class="col-lg-6 col-md-7 offset-lg-1">
        <h1 class="mb-4">{{ .Title }}</h1>

        {{ with .Params.colors }}
          <p><strong>Colors:</strong> {{ delimit . ", " | title }}</p>
        {{ end }}

        {{ with .Params.sizes }}
          <p><strong>Sizes:</strong> {{ delimit . ", " | title }}</p>
        {{ end }}

        <p class="price py-4">
          {{ if .Params.discount_price }}
            {{ site.Params.currency }}{{ .Params.discount_price }}
            <s class="price">{{ site.Params.currency }}{{ .Params.price }}</s>
          {{ else }}
            {{ site.Params.currency }}{{ .Params.price }}
          {{ end }}
        </p>

        <button
  id="add-btn-{{ .File.BaseFileName }}"
  class="add-to-cart-btn mb-5"
  onclick='handleAddToCart(this, {
    id: "{{ .File.BaseFileName }}",
    name: "{{ .Title }}",
    price: {{ if .Params.discount_price }}{{ .Params.discount_price }}{{ else }}{{ .Params.price }}{{ end }},
    qty: 1,
    image: "{{ with .Params.Images }}{{ index . 0 | absURL }}{{ end }}"
  })'>
  Ajouter au panier
</button>


        <div class="content">{{ .Content }}</div>
      </div>
    </div>
  </div>
</section>

{{ end }}
